:root {
    --game-board-color: purple;
}

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: 200px 1fr 50px 100px / 1fr;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.header {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template: 1fr 10px 1fr / 1fr;
    background-color: darksalmon;
    width: 100%;
    height: 100%;
}

.header-top {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 46px;
    font-weight: 500;
    margin-bottom: -15px;
}

.header-middle {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: -5px;
}

#player-O-icon-options,
#player-X-icon-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 175px;
    height: 30px;
    background-color: cornsilk;
    border-radius: 5px;
    opacity: 0;
}

#player-O-icon-options img,
#player-X-icon-options img {
    height: 75%;
}

.header-bottom {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: -5px;
}

.player1,
.player2 {
    width: 175px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-family: 'Chakra Petch', sans-serif;
    background-color: wheat;
    border-radius: 7px;

}

.player1 img,
.player2 img {
    height: 45px;
    border-radius: 50%;
}

.score {
    font-size: 34px;
    width: 25px;
}

.profile {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.menu p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    max-height: 45px;
    font-family: "lato", sans-serif;
    font-size: 12px;
    padding: 3px 5px;
    word-break: break-all;
    white-space: normal;
    overflow: auto;
    outline: none;    
    background-color: beige;
    border: dotted 1px black;
    border-radius: 5px;
}

#reset {
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
}

#game-board {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 300px;
    height: 300px;
    margin-top: 30px;
}

#game-board div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-board img {
    height: 30px;
}

#game-board div:hover {
    background-color: ghostwhite;
    padding: 10px;
}

#game-board div:nth-child(1) {
    border-bottom: solid 2px var(--game-board-color);
    border-right: solid 2px var(--game-board-color);
}

#game-board div:nth-child(2) {
    border-bottom: solid 2px var(--game-board-color);
}

#game-board div:nth-child(3) {
    border-bottom: solid 2px var(--game-board-color);
    border-left: solid 2px var(--game-board-color);
}

#game-board div:nth-child(4) {
    border-right: solid 2px var(--game-board-color);
}

#game-board div:nth-child(5) {
    outline: solid 2px var(--game-board-color);
}

#game-board div:nth-child(6) {
    border-left: solid 2px var(--game-board-color);
}

#game-board div:nth-child(7) {
    border-top: solid 2px var(--game-board-color);
    border-right: solid 2px var(--game-board-color);
}

#game-board div:nth-child(8) {
    border-top: solid 2px var(--game-board-color);
}

#game-board div:nth-child(9) {
    border-top: solid 2px var(--game-board-color);
    border-left: solid 2px var(--game-board-color);
}

.O div,
.X div,
.tie div {
    position: relative;
    opacity: .25;
    background-color: ghostwhite;
}

.O::after {
    
    
    
}

.X::after {
    
    
    
}

.tie::after { 
        
}

#winner {
    grid-area: 3 / 1 / 4 / 2;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 24px;
}

.made-by {
    font-family: "Lato", sans-serif;
    color: #343633;
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
}

.made-by a {
    text-decoration: none;
    color: #2b1719;
}

.made-by img {
    height: 16px;
    transition: transform 0.3s ease-in-out;
}

.made-by img:hover {
    transform: rotate(-360deg) scale(1.2);
}