:root {
    --game-board-color: #8638A8;
}

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#container {
    display: grid;
    grid-template: 200px 1fr 50px 100px / 1fr;
    place-items: center;
    width: 100vw;
    height: 100%;
    min-height: 700px;
    background-color: #F5F5F5;
    background-repeat: repeat;
    background-size: 25px;
}

#header {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template: 1fr 35px 1fr / 1fr;
    width: 100%;
    height: 100%;
    background-color: #E6D1F0;
    box-shadow: .5px .5px #7A7375;
}

.header-top {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 46px;
    font-weight: 500;
    margin-bottom: -35px;
}

.header-top p {
    background-color: #F5F5F5;
    width: 325px;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    color: #201D1E;
    text-shadow: 1px 1px #7A7375;
    box-shadow: .5px .5px #7A7375;
    margin-top: -15px;
}

.header-middle {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
}

#player-O-icon-options,
#player-X-icon-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 175px;
    height: 30px;
    background-color: #F2FCEE;
    border-radius: 5px;
    margin-bottom: -10px;
    opacity: 0;
    pointer-events: none;
}

#player-O-icon-options img,
#player-X-icon-options img {
    height: 75%;
}

#player-O-icon-options img:hover,
#player-X-icon-options img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.header-bottom {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: -5px;
}

.player1,
.player2 {
    width: 180px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-family: 'Chakra Petch', sans-serif;
    background-color: #D3F5C4;
    border-radius: 7px;
    color: #201D1E;
    box-shadow: .5px .5px #7A7375;
}

.player1 img,
.player2 img {
    height: 45px;
}

.player1 img:hover,
.player2 img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.score {
    font-size: 34px;
    width: 25px;
}

.profile {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.menu p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    max-height: 45px;
    font-family: "lato", sans-serif;
    font-size: 12px;
    padding: 3px 5px;
    word-break: break-all;
    white-space: normal;
    overflow: auto;
    outline: none;    
    background-color: #F2FCEE;
    border: dotted 1px #7A7375;
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#play-type,
#reset {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: white;
    box-shadow: .5px .5px #7A7375;
}

label {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
}

input {
    display: none;
}

label:hover {
    cursor: pointer;
}

#play-type {
    background-color: #F2FCEE;
    position: relative;
    color: #201D1E;
    font-size: 9px;
}

span::after {
    position: absolute;
    content: "";
    height: 30px;
    width: 38px;
    border-radius: 5px;
    background-color: #D3D2D4;
    left: 0;
    top: 0px;
    transition: all 0.3s;
}

input:checked + span:after {
    position: absolute;
    content: "";
    height: 30px;
    width: 38px;
    border-radius: 5px;
    background-color: #1E8566;
    left: 42px;
}

#reset {
    background-color: #1E8566;
}

#reset:hover {
    text-decoration: underline;
    text-shadow: 1px 1px #7A7375;
    cursor: pointer;
    transform: scale(1.01);
}

#game-board {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 325px;
    height: 325px;
    margin-top: 30px;
}

#game-board div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-board img {
    height: 30px;
}

#game-board div:hover {
    background-color: #EEE0F5;
}

#game-board div:nth-child(1) {
    border-bottom: solid 5px var(--game-board-color);
    border-right: solid 5px var(--game-board-color);
}

#game-board div:nth-child(2) {
    border-bottom: solid 5px var(--game-board-color);
}

#game-board div:nth-child(3) {
    border-bottom: solid 5px var(--game-board-color);
    border-left: solid 5px var(--game-board-color);
}

#game-board div:nth-child(4) {
    border-right: solid 5px var(--game-board-color);
}

#game-board div:nth-child(5) {
    outline: solid 5px var(--game-board-color);
}

#game-board div:nth-child(6) {
    border-left: solid 5px var(--game-board-color);
}

#game-board div:nth-child(7) {
    border-top: solid 5px var(--game-board-color);
    border-right: solid 5px var(--game-board-color);
}

#game-board div:nth-child(8) {
    border-top: solid 5px var(--game-board-color);
}

#game-board div:nth-child(9) {
    border-top: solid 5px var(--game-board-color);
    border-left: solid 5px var(--game-board-color);
}

.O img,
.X img,
.tie img {
    opacity: .25;
}

#winner {
    grid-area: 3 / 1 / 4 / 2;
    margin-top: 25px;
    text-align: center;
    width: 325px;
}

#p-winner {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
    background-color: #F5F5F5;
    padding: 5px 45px;
    border-radius: 7px 7px 0 0;
    box-shadow: .5px .5px #7A7375;
}

#p-click-anywhere {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    background-color: #F5F5F5;
    padding: 7px 45px;
    border-radius: 0 0 7px 7px;
    box-shadow: .5px .5px #7A7375;
    font-style: italic;
}

.made-by {
    font-family: "Lato", sans-serif;
    color: #201D1E;
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
    background-color: #F5F5F5;
    padding: 7px;
    border-radius: 7px;
    width: 100%;
}

.made-by a {
    text-decoration: none;
    color: #2b1719;
}

.made-by img {
    height: 16px;
    transition: transform 0.3s ease-in-out;
}

.made-by img:hover {
    transform: rotate(-360deg) scale(1.2);
}